[2013-07-23 17:17] bebraw opened #2 "Accept string input"
Hi,

It would be great if the library accepted string input in addition to file input. In my current use case I have to create a temporary file to use the lib. I am converting a file containing certificates into JSON so my data is already in string format.

[2013-07-24 09:47] #2 closed, assigned to nobody

[2013-07-27 21:41] Southern opened #3 "Not compatible with 0.11.3+"
0.11.3 has an update to V8 that deprecates the old style of calling functions and returning their values.

Instead of stuff like:

[code]

It will end up being something like:

[code]

[2013-07-29 18:49] #3 closed, assigned to nobody

[2013-08-02 12:04] seriousme opened #4 "Pure JS solution ?"
Hi,

did you see: https://npmjs.org/package/node-forge ?

Can do the same thing, but using JS only ;-)

Cheers,

Hans

[2013-08-02 13:46] #4 closed, assigned to nobody

[2013-08-19 20:04] asilvas opened #5 "Windows support - openssl/asn1.h not found"
While not directly related to this project, "npm install x509" fails to build on Windows using msbuild, even if OpenSSL is installed and included in the build paths. Not yet sure if a simple configuration option might resolve this or not.

[code]

[2013-08-20 20:23] #5 closed, assigned to nobody

[2014-01-26 12:40] Rush opened #8 "Does not compile with node 0.11.9"
[code]

[2014-02-03 00:34] Rush opened #10 "Reading PEM key for the purpose of finding a matching certificate"
I would like to ask here for RFC.
https://github.com/CodeCharmLtd/node-x509/tree/parse-pem
I have added a method: `persePem` which would return an object with fields `publicModulus` and `publicExponent`. Same fields have been added to `parseCert`.
If both cert and pem have the same values - they are a matching pair. I think this belong to `node-x509` quite well but I would like to get a second opi

[2014-02-06 00:33] Rush opened #11 "Using NAN for the bindings"
How do you feel about using? https://github.com/rvagg/nan

[2014-02-19 08:30] wishmedia opened #12 "Unable to Install v0.10.26"
I can't seem to get x509 to install.
I've tried installing the `sudo npm install -g node-gyp` as well as `npm install x509`.
When I tried to install via node-gyp it seems to install correctly, but when I `require('x509');` it says x509 doesn't exist.

Below are the errors I receive when trying to install with `npm install x509`:

[code]

Any ideas as to what I am doing wrong???

[2014-02-20 05:13] #12 closed, assigned to nobody

[2014-09-14 13:42] #11 closed, assigned to nobody

[2014-11-24 15:09] Rush opened #17 "Javascript version - no more build issues"
I have been happily using `node-x509` for a long time. Thanks for this project!
Unfortunately I encountered numerous installation issues due to native code and reliance on openssl headers.

For those concerned with the above, I have created a javascript (libcrypto compiled with emscripten) version of the same functionality:
https://github.com/CodeCharmLtd/x509.js

Sorry for shameful advertisement,

[2014-11-24 15:52] #17 closed, assigned to nobody

[2015-04-17 15:27] balaajit opened #19 "trailing extra characters in cert extension subjectKeyIdentifier"
Hi,

I was trying to use your node module for parsing a 509 certificate, pull the extension part of it and look for subjectKeyIdentifier value of it.

However, from time to time i am seeing extra trailing characters in that attribute, is it present in the cert itself or it is a bug ?

Problematic attribute:
"subjectKeyIdentifier":"86:12:8C:4C:0A:69:D6:0A:63:34:C9:C6:A7:76:10:FA:70:35:59:D4\u0002\u

[2015-05-29 14:30] dalareo opened #20 "virtkick-proxy not available"
I get git fetch -a origin (git://github.com/virtkick/virtkick-proxy.git) fatal: remote error: when installing virtkick-starter

[2015-05-29 14:54] yorkie commented on #20
i guess you should use git+https://git@github.com/virtkick/virtkick-proxy.git

[2015-05-29 14:55] dalareo commented on #20
The repository is no more available https://github.com/virtkick/virtkick-proxy gives 404 error

[2015-05-29 16:45] yorkie commented on #20
Why do you care about this repo, it's not related to X509, sorry

[2015-05-30 04:54] #20 closed

[2015-06-01 10:10] dalareo commented on #20
sorry, @yorkie I don't understand how or when, but my comment hit up a wrong thread. sorry...

[2015-08-10 04:44] konklone commented on #8
Node did finally stabilize the 0.11 branch as 0.12, and the `x509` module doesn't appear to work there.

[2015-08-10 04:51] Rush commented on #8
@konklone you can use my pure-js version https://github.com/encharm/x509.js (built with emscripten)

[2015-08-10 05:33] konklone commented on #8
@Rush Nice! Is it fully API-compatible (drop-in)? I'll give it a shot when I'm next at my laptop.

[2015-08-20 19:03] bmulcahy opened #21 "What version of Opensll does this use?"
I may have missed it somewhere but just wanted to verify which version this uses. Also does openssl need to be installed(runnable from command line)?

[2015-08-20 20:07] Southern commented on #21
You do have to install it locally for the headers to be available for
compiling. No specific version is required.
On Aug 20, 2015 3:03 PM, "Brian Mulcahy" <notifications@github.com> wrote:

[2015-08-20 20:25] Southern commented on #21
You don't have to have a specific version. You will need to have OpenSSL installed if you are on a Windows system. Otherwise, compilation uses the OpenSSL headers that are provided as a dependency of Node.

You can find the different compilation conditions [in lines 22-51](https://github.com/Southern/node-x509/blob/master/binding.gyp#L22-L51) of the `binding.gyp` file.

[2015-09-09 16:09] yorkie commented on #8
Actually I should cover 0.10, 0.12 and 4.0 into our travis and both they are happy now, so that I'm going to close this one, thanks :)

[2015-09-09 16:09] #8 closed

[2015-09-09 16:10] yorkie commented on #21
This seems to be answered by @Southern, closing :)

[2015-09-09 16:10] #21 closed

[2015-09-10 07:37] yorkie opened #24 "travis network issue"
The current CI is in red at #23.

[2015-09-12 04:06] jcrugzz commented on #24
@yorkie back to green after re-running build

[2015-09-12 04:06] #24 closed

[2015-09-29 08:22] heikoholland opened #25 "Unhandled rejection error"
When I call parseCert with a wrong cert file like this parseCert('notreallyacrtfile.crt') I get

[code]

and I'm not able to catch that error.

[2015-09-29 08:31] yorkie commented on #25
How do you try to catch the error, may I ask you to post more complete example? Thanks

[2015-09-29 09:15] heikoholland commented on #25
I found the error in my code. Sorry for rushing in opening an issue.

[2015-09-29 09:16] #25 closed

[2015-09-29 10:28] yorkie commented on #25
:-) You are welcome

[2015-10-02 18:29] jfromaniello opened #26 "It fail to install after upgrading to El Capitan"
This is the output:

[code]

[2015-10-02 18:37] jfromaniello commented on #26
Ignore this thread, latest version installs ok.

[2015-10-02 18:37] #26 closed

[2015-11-02 17:23] weagle08 opened #27 "Does not work for DER encoded certificates"
It would be nice if this worked on DER (PKCS7) encoded certificates, and if that get's added in, might as well throw in PKCS12 as well. I wouldn't mind implementing if someone could show me a good way to differentiate in code. I don't see a friendly way to do this in the openssl library. Or should the node x509 library just try all three if passed a cert and return on the one that does not excepti

[2015-11-02 17:59] Southern commented on #27
For the sake of this module, let's stick X509 only. If you wanted to implement this in a fork, however, I would suggest implementing both `PEM_read_bio_PKCS7` (found [here](https://www.openssl.org/docs/manmaster/crypto/pem.html)) and `d2i_X509_bio` (found [here](https://www.openssl.org/docs/manmaster/crypto/d2i_X509.html)). You can use these exactly how the other PEM functions are being called in

[2015-11-02 17:59] #27 closed

[2015-11-02 19:09] weagle08 opened #28 "Does not correctly release the file once read"
the file does not seem to be getting closed correctly after reading. I can not delete the file after it is read without first stopping the node process.

[2015-11-03 02:19] Southern commented on #28
@weagle08 can you check out the branch "issue-28", rebuild, and test with that? I think all it's lacking is the `BIO_free` that I added in on that branch.

[2015-11-03 04:40] #19 closed

[2015-11-03 04:43] Southern commented on #19
@balaajit turns out this was a bug. It's fixed in the master branch and should be published to NPM within a few days.

[2015-11-03 05:17] Southern commented on #10
@Rush Sorry that I haven't been around in a while. Looks like we're exposing the modulus and exponent as `publicKey.n` and `publicKey.e` now. Is there any other problem related to this issue?

[2015-11-03 05:25] #28 closed

[2015-11-03 15:44] weagle08 commented on #28
I'm not seeing that branch

[2015-11-03 21:11] Southern commented on #28
@weagle08 I've already merged it into master and deleted that branch. Just pull the master branch and test it out if you don't mind.

[2015-11-10 16:21] Southern commented on #10
Closing this for now. Let me know if this is still an issue at any point.

[2015-11-10 16:21] #10 closed

[2015-11-10 16:29] yorkie commented on #10
Wow @Southern You are so activity recently :+1:

[2015-11-10 21:38] Southern commented on #10
@yorkie Yeah. I found a little time to go through and clean up some of the issues that we had in here. Everything should be good for now. :)

[2016-01-11 19:16] cpetrov opened #29 "Support Node v5.4.0"
Node v5.4.0 fails to create hashes after parsing a certificate.

**package.json:**
[code]
**server.js:**
[code]

Uncomment the line and the following error will be thrown:
[code]

[2016-01-11 19:19] Southern commented on #29
The error message that you received is from OpenSSL. "No start line" typically means that there was no starting line to indicate what the file is. For example, a certificate should start with "-----BEGIN CERTIFICATE-----" and end with "-----END CERTIFICATE-----". This is required for all certificates to show the beginning and end of the certificate since multiple certificates can be defined in one

[2016-01-11 19:20] Southern commented on #29
The error message that you received is from OpenSSL. "No start line" typically means that there was no starting line to indicate what the file is. For example, a certificate should start with `-----BEGIN CERTIFICATE-----` and end with `-----END CERTIFICATE-----`. This is required for all certificates to show the beginning and end of the certificate since multiple certificates can be defined in one

[2016-01-25 20:57] Southern commented on #29
No response in two weeks. Closing this.

[2016-01-25 20:57] #29 closed

[2016-02-20 18:13] nickclaw opened #30 "travis-ci install error on node v4.2 and v5.5"
For some reason travis-ci is unable to install node-x509 on some versions of node. Although they seem to work fine when I'm building locally. I'm wondering if you have any idea what's going on?

Here's the output `node-gyp rebuild`

[code]

[2016-02-22 15:28] Southern commented on #30
It looks like there may have been some changes in the way V8 wants/needs this to be structured. I will look into it and see if I can figure out what's going on.

[2016-02-22 15:44] Southern commented on #30
Confirmed. `v8::Handle` is no longer a type. It is missing in https://chromium.googlesource.com/v8/v8/+/master/include/v8.h. It was `template <class T> class Handle`.

[2016-02-22 16:08] #30 closed

[2016-02-22 16:08] Southern commented on #30
Should be fixed in 0.2.4. All Travis tests passed with `v8::Local`, which used to be a child of `v8::Handle`.

[2016-02-22 17:48] nickclaw commented on #30
Awesome! Thanks for the speedy response.

[2016-02-22 17:49] Southern commented on #30
No problem!

[2016-02-22 17:54] Southern commented on #30
Just saw your failed build saying NAN failed. Looking into that as well. Not sure why it's passing on Travis for us, but not when it's being used in your repo.

[2016-02-22 17:55] Southern opened #31 "NAN failing on Travis"
Related to #30; still failing to build NAN on Travis.

https://travis-ci.org/nickclaw/alexa-ability-express-handler/jobs/110630761

[2016-02-22 17:55] Southern commented on #31
/cc @nickclaw

[2016-02-22 18:13] nickclaw commented on #30
What versions of node are you testing on?

[2016-02-22 18:13] Southern commented on #31
@nickclaw Can you try using `"x509": "git://github.com/Southern/node-x509.git#devel"` in a separate branch from your master? I want to see if it's as simple as updating the NAN dependency. It was behind a few versions.

[2016-02-22 18:14] Southern commented on #30
It's currently testing on 0.10, 0.12, 4.0 and the latest stable provided by Travis. https://travis-ci.org/Southern/node-x509

Check out #31.

[2016-02-22 18:17] nickclaw commented on #31
I won't have access to that project until later tonight. It may be worth testing on the most recent versions of node, just in case that's what's going wrong. v4.3.1 and v5.6.0 are the current targets.

[2016-02-22 18:22] Southern commented on #31
The current stable that was installed during the Travis tests is 5.6.0 and it passed before bumping to 0.2.4. That's strange. Try that branch when you can and let me know what the result is. I'm interested to know what's going on here.

[2016-02-23 00:05] nickclaw commented on #31
https://docs.travis-ci.com/user/languages/javascript-with-nodejs#Node.js-v4-(or-io.js-v3)-compiler-requirements

I'm willing to bet this is it. But I'll try both tonight.

[2016-02-23 04:09] nickclaw commented on #31
^ fixed it entirely. That's what I get for skimming through the logs.

[2016-02-25 02:27] Southern commented on #31
Nice! I don't have to push another update! Going to close this since that worked.

Thanks again.

[2016-02-25 02:27] #31 closed

[2016-05-10 13:07] tanuck opened #32 "Bump version of nan"
Hi,

Currently, this package doesn't work with node v6.x because the version of nan is not compatible, the compilation will exit because of a missing named type in v8::Isolate

Bumping nan to v2.2.0 fixed the problem. I can create a pr if you wish?

Regards

[2016-05-10 16:15] yorkie commented on #32
PR surely are welcome :-p

[2016-05-13 08:26] #32 closed

[2016-06-15 13:52] Enteee opened #34 "Remove read from file fallback"
I'm using the parser with user submitted input
[code]
currently a user could read an arbitrary file from file system using the x509 parser and I've no chance to tell the parser not to do so. This is why I'd suggest removing the fallback read-from-fs. If this functionality is needed,  one can still use the parser as as described in the readme:
[code]

[2016-06-15 14:18] yorkie commented on #34
See https://github.com/Southern/node-x509/blob/master/src/x509.cc#L123, you are able to make your example work, because when `PEM_read_bio_X509` with certification data fails, x509 will convert to use filename.

Closing this issue for now, _if still a problem here, feel free to reopen it_, thanks @Enteee

[2016-06-15 14:18] #34 closed

[2016-06-15 14:45] Enteee commented on #34
I think you did not understand what I mean:

@yorkie : Tell me if you need more information

[2016-06-15 14:46] Enteee commented on #34
@yorkie I can not reopen the issue, can you please do this for me?

[2016-06-15 15:22] Southern commented on #34
@Enteee This is not an issue with this module. You should _never_ allow direct user input into _anything_. This module would be the least of your worries because it will throw an error immediately once it recognizes that the file that the user is trying to access is not a valid PEM file: https://github.com/Southern/node-x509/blob/master/src/x509.cc#L131-L138

As it stands, this isn't an issue.

[2016-06-15 16:04] Enteee commented on #34
@Southern I'm aware that I'm not supposed to use user input without validation, but when It comes down to parsing this is always a chicken-egg problem: How can I validate user input without parsing it <-> how can I parse user input without validating? This is critical when the parser is powerful (or even turing complete). So this is why I'd keep the parser as slim as possible. Or at least make thi

[2016-06-15 16:15] Rush commented on #34
I do agree this is a security issue. Never allowing direct user input is one thing and ambiguity is another. Imagine only XML validator and what would happen if XML parsing function was reading files from disk if the input doesn't validate? This situation is the same.

Another problem is separation of concerns, why should x509 library be reading any files? Node.js is much better and safer in readi

[2016-06-15 16:26] Southern commented on #34
@Rush It is only a "security issue" for those who allow direct user input, which should never happen in any case. OpenSSL provides the ability to read the file directly into a BIO and then parse that BIO. That is why we are not depending on Node to read the file and convert the file into a string before then sending it to X509 for parsing. It is also why we allow the user to decide whether they wo

[2016-06-15 16:33] Enteee commented on #34
@Rush see https://en.wikipedia.org/wiki/XML_external_entity_attack
@Southern This is not my use case but: If I wanted to write a certificate viewer, how I'd do this without "allowing direct user input"? Or in general what kind of use-case do you have in mind which does not require "direct user input"?

[2016-06-15 16:33] yorkie commented on #34
I do agree 100% with @Southern's point, though this library is a Node.js package, it's even a bridge to OpenSSL, so we should keep consistent with the common usage of that community, using Node.js file system might be something hacky.

@Southern for @Enteee's problem, how about adding an option to avoid creating `BIO_s_file` object, and throw an invalid certification data?

[2016-06-15 16:48] Southern commented on #34
@Enteee You would have to use Node to read in the file and then send that file to the X509 module as a string if you don't trust that X509 will prevent directory traversal, etc.

@yorkie It's already going to throw an error once it gets to https://github.com/Southern/node-x509/blob/master/src/x509.cc#L131-L138 and it doesn't return the contents of the file with the error. Seems like a moot point t

[2016-06-15 16:57] yorkie commented on #34
Oh wait, I find a memory leak when we calling `Nan::ThrowError` like https://github.com/Southern/node-x509/blob/master/src/x509.cc#L135, because the method has been returned without calling `BIO_free` on created `bio` object, @Southern is it a leak, if yes, I will create a Pull Request for this :-)

[2016-06-15 17:04] Rush commented on #34
I apologize if you took an offence and I will refrain from doing so in the future. Since both projects are non-commercial I thought we should act towards addressing users' needs.

@Southern If you don't agree with the security argument, perhaps ambiguity argument could convince you. Reading code `x509.parseCert(string)` does not give any indication that file will be read.  If the code read `x509.p

[2016-06-15 17:16] Enteee commented on #34
@Southern What I'm doing:
1. Getting the certificate as string from the user.
2. Validate the string by checking if there is a '-----BEGIN CERTIFICATE-----' & '-----END CERTIFICATE-----' - armor
3. Calling x509 with the said string.

I do think this kind of validation is not sufficient so what I'll going to change this to is:
1. Get the string from the user
2. Validate the string
3. Write the stri

[2016-06-15 17:26] Southern commented on #34
@Rush I didn't take offense to you wanting people to use your module. I took offense to derailing the issue with a module that we are already advertising in our README, solely based on us saying that this is not an issue in the module.

It says in the README that `cert` can either be a filename or a string. It's been there forever.

I don't see any ambiguity there. It clearly states what is expect

[2016-06-15 17:44] Rush commented on #34
Having a documentation does not make the code more readable. Best code is obvious what it does from code alone.

Also, I don't really get what you defend this reading file fallback approach. What's the actual use case to justify this behavior? Usually one wants to do one or the either.

[2016-06-15 17:55] Southern commented on #34
@Rush It has been documented since the very beginning of this module, and it is obvious what it is doing in the lines of code that I posted earlier. It's not causing a problem other than misunderstandings that could be addressed by simply reading the documentation that has provided. Many companies are and have been using it in production with no problem or misunderstanding about how this module wo

[2016-06-15 18:05] Rush commented on #34
OpenSSL is not to be trusted. Best to minimize its usage to bare minimum. The less usage, the less opportunity for future security issues. If you give OpenSSL opportunity to access filesystem, you expose the filesystem to OpenSSL bugs.

And I congratulate you on this. However most companies simply use node modules without much thinking. And this is a good thing. Simple interfaces allow for this. T

[2016-06-15 18:17] Southern commented on #34
@Rush I agree that OpenSSL shouldn't be trusted with everything, especially in light of the recent OpenSSL fuck ups that surfaced. Even though you and I believe that it shouldn't be trusted, our opinions cannot prevent the end user from having their own opinion and choosing what they would like to use.

Everyone should know about it if they took the time to read the documentation instead of blindl

[2016-06-16 08:14] Enteee commented on #34
This conversation is starting to drift. Anyway I agree with @Rush:

From my personal experience: Keep your parser as simple as possible. I repeat myself, don't make the XML mistake.

You keep repeating yourself but I don't understand this. The openssl x509-command has:

Which means, in contrast to your module, the 'read from stdin'-functionality is opt-in. There is no such thing as: "If the stdin

[2016-06-16 16:04] Southern commented on #34
I keep repeating myself because it doesn't seem to be understood that this is to allow the end user the option of reading with OpenSSL or Node. The X509 command line indeed has `-in`. Where do you think the file is being read from in that case? That is why this is an option in the module, and I'm done with this semantic holy war of something that is not and will not be an issue now or in the near

[2016-06-16 17:27] Enteee commented on #34
amen.

[2016-08-03 14:30] lambrojos opened #36 "Typescript Typings?"
Would you be interested in bundling typescript definitions within your package?
The interface of your module is quite simple, I can provide a PR if you are interested.

Otherwise people at the typings repository are willing to help, there is an issue about this : typings/typings#322

[2016-08-03 16:26] yorkie commented on #36
PR is always welcome, @lambrojos

[2016-08-10 17:48] mwpnl opened #37 "SegFault on certain certificates"
When parsing certain certificates, for some reason a segmentation fault occurs that comes from the x509 module. When parsing the certificate directly from the CLI with openSSL no error occurs.

An example of the certificate is the one added as cert.txt: (rename to cert.pem)
[cert.txt](https://github.com/Southern/node-x509/files/411725/cert.txt)

When executing on:
* centOS 7.2.1511 64bit
* Node ve

[2016-08-10 18:06] Rush commented on #37
Sorry to say but even demangled, this stacktrace seems quite useless:
[code]

It would be helpful if you could compile node-x509 in debug mode. `git clone` it from github to somewhere and inside do `npm install && node-gyp rebuild --debug`. If you're missing the node-gyp tool then you can install it with `npm install -g node-gyp` (if you use NVM you can do it as a normal user).

In your applicatio

[2016-08-10 18:10] mwpnl commented on #37
Thanks! That's very fast and a helpful guide on how to (re)build a module in debug mode.

[2016-08-10 19:00] mwpnl commented on #37
I'm not quite sure if adding the complete stack in-line was what you had in mind, but if it's easier to put the stack in a separate file I figured I can always edit this comment and do it afterwards.

Does this provide enough information be be useful? I'd love to be able to help out more, but my knowledge on this subject is too limited.

These are the results from running valgrind:
<pre>
==11704==

[2016-08-10 19:01] Rush commented on #37
Almost good but there are still no line numbers as I see that a Release version is being loaded `/root/node-x509/build/Release/x509.node`. We need there to be `Debug`. I suspect that `node-gyp rebuild --debug` did not work for some reason. Also you can try removing the Release version by hand.

[2016-08-10 19:33] mwpnl commented on #37
It took me a while to find out what you ment with the line numbers, but I _think_ I've got it right this time!

I updated my comment above with the fresh stack traces with line numbers to keep the discussion clean, hope that's okay.

[2016-08-11 01:02] Southern commented on #37
I'm pretty busy for the next couple of days. It'll probably be the weekend before I can get around to it.

@yorkie Do you have any free time to check this out?

[2016-08-11 17:23] yorkie commented on #37
@mwpnl @Southern after taking a look at gdb results, I think the potential missing line is [here](https://github.com/Southern/node-x509/blob/master/src/x509.cc#L281):

[code]

We didn't check if the `data` has been able to access after calling `malloc`, therefore, @mwpnl may I ask you to update the "src/x509.cc" at line 281 like the following diff:

[code]

And try to run with gdb again, and see w

[2016-08-21 13:42] mwpnl commented on #37
@yorkie was completely right, the issue was with a bptr->data that was completely empty. I've adapted the above code diff and made pull request #39, that solves this issue in the certs I mentioned above.

Looking forward to see your comments on this!

[2016-08-21 15:12] yorkie commented on #37
Okay @mwpnl will comment when I get home later, thanks :)

[2016-10-28 06:51] ashrko619 opened #40 "Setting up on Windows 7"
How to set up the module in windows ?

[2016-12-19 17:24] denis-fatkhudinov opened #42 "Verifying certs as strings"
Verify method accepts file paths but I have nothing to do if I have certificates already loaded in RAM. Thus I have to store certificates firstly.

[2017-01-10 20:39] astitt-ripple commented on #42
I had the same requirement. Here is a PR of a branch I have been using for this purpose recently https://github.com/Southern/node-x509/pull/44

[2017-04-14 17:25] ashergarland opened #49 "Failed at the x509@0.3.2 install script 'node-gyp rebuild'"
My machine settings:
Windows 10
npm -v // 4.5.0
node -v // 6.10.0

'npm install x509' fail to complete with the error:

LINK : fatal error LNK1181: cannot open input file 'C:\OpenSSL-Win64\lib\libeay32.lib' [C:\git\test\node_modules\x509\b
uild\x509.vcxproj]

Failed at the x509@0.3.2 install script 'node-gyp rebuild'.

[2017-05-11 07:36] kalpeshshirodker commented on #49
I am facing same issue. Any progress on this?

[2017-05-11 22:00] Southern commented on #49
Sorry guys. Just changed jobs not too long ago and haven't had much time to keep up with this.

As for this error, I can't really say since I don't have a Windows computer to test the compilation with. Do you have OpenSSL installed to `C:\OpenSSL-Win64`?

[2017-06-07 10:34] oreporan commented on #49
Getting the same issue on Linux Docker

[2017-06-27 15:32] Botffy commented on #49
That OpenSSL-Win64 path comes from the 28th line of the binding.,gyp. That sucks, and makes this (and everything depending on this) unusable on Windows.

[2017-07-13 02:31] RubenVerborgh opened #51 "Interpreting a certificate as a string poses security risk"
The methods in this library are currently implemented as follows:

1. Try to interpret the string argument as certificate data.
2. If this fails, then interpret it as a path.

There are no explicit methods that only accept raw data or a file.

As such, one needs to always apply a safety check before passing certificate data from a third party, since x509 might interpret it as a path and read a sen

[2017-07-15 14:36] Southern commented on #51
This has previously been covered in another issue, #34. The security of this package is solely up to the end-user and what they determine is best for them.

By the way, you should never get any output for a file path that any user inputs unless it's a valid PEM file. Check out [src/x509.cc#L209-L225](https://github.com/Southern/node-x509/blob/master/src/x509.cc#L209-L225). You can see that this mo

[2017-07-15 14:36] #51 closed

[2017-07-16 18:01] RubenVerborgh commented on #51
Thanks, @Southern. While I agree with

That still leaves the case where the path _does_ point to a valid PEM file.

That's what I did, and <q>If raw read fails, try reading the input as a filename</q> is exactly what I consider a security issue. Concrete case in point: at MIT, we're building an HTTP server with certificate-based authentication. I had to specifically [check](https://github.com/soli

[2017-07-16 18:44] Southern commented on #51
The reason it's like this isn't because of convenience. It has been this
way since the beginning and there has been no valid reason to change it
other than people wanting us to add more security so they don't have to.
You agreed with "the security of this module is solely based on the end
user" and have already implemented your own security. If you limit the
input to only be a certificate string,

[2017-07-16 19:33] RubenVerborgh commented on #51
Not a valid argument as to whether it is right or wrong: literally all software libraries have bugs that were there since the beginning 😉

Or because they don't know how to?
Or because they are unsure they capture all corner cases?
Or because it is safer to implement security once and reuse?

I have, others likely have not, and I have no decisive evidence as to whether I have implemented the secur

[2017-07-16 21:21] Southern commented on #51
So you would rather us be responsible for maintaining the security of your platform instead? That's what I'm getting from this conversation and I refuse to open that can of worms. I will not be responsible for someone's security failing due to a bug, edge case, or anything else. That will remain the responsibility of the end user, period.

I honestly find it hard to believe that no one has brought

[2017-07-16 22:33] RubenVerborgh commented on #51
Happy to discuss, but we're not going to get far if we don't follow a sound argumentation.
My points were:

1. **This library has a security issue (and I provided a demonstration as proof).**
2. **That issue should be fixed in this library (and I provided argumentation).**

(Un-)fortunately, none of my two points are refuted by your points above:

- **So you would rather us be responsible for main

[2017-07-17 00:40] Southern commented on #51
I haven't seen any proof of any security flaw. All I've seen is someone whining about having to sanitize their users' input into a 3rd party module, as should be done anyway so that any security regressions in this module would be caught and handled by your own security. Why should we implement security when you should be doing it in the first place to avoid such issues with regressions and other

[2017-07-17 01:05] RubenVerborgh commented on #51
Straw man argument. As explained above, the problem is that the only foolproof way to sanitize is to perform the X509 parsing yourself, voiding the need to use x509.

Because implementing that security in a foolproof way requires implementing the part of functionality we try to use the x509 library for in the first place.

I keep on mentioning the reason but you keep on arguing other things.

**Le

[2017-07-17 01:11] Southern commented on #51
I will be waiting for proof in another issue with a valid point. I don’t have time to argue semantics, theories, etc.

[2017-07-19 16:17] bertrandszoghy commented on #49
Am getting the same on CentOS 7.3
[root@centos7 ~]# npm install -g x509

gyp ERR! clean error
gyp ERR! stack Error: EACCES: permission denied, rmdir 'build'
gyp ERR! stack     at Error (native)
gyp ERR! System Linux 3.10.0-514.26.2.el7.x86_64
gyp ERR! command "/usr/bin/node" "/usr/lib/node_modules/npm/node_modules/node-gyp/bin/node-gyp.js" "rebuild"
gyp ERR! cwd /usr/lib/node_modules/x509
gyp ERR!

[2017-07-21 18:12] Southern commented on #49
@Botffy no problem (re: snark). Mind opening a PR to modify the README since you have a Windows machine and know the steps that you had to take to get it working?

@bertrandszoghy your problem is a permission issue on your CentOS system. Check the output that you sent and you can see `gyp ERR! stack Error: EACCES: permission denied, rmdir 'build'`. You would need to file a node-gyp issue for that.

[2017-07-21 18:27] bertrandszoghy commented on #49
Thanks,

As per

https://stackoverflow.com/questions/45193218/npm-fails-installing-fabric-ca-client/45198100#45198100

I can workaround by installing the npm package dependent on x509 locally
(as opposed to globally as root).

Which was enough for my needs.

Best regards.

On Fri, Jul 21, 2017 at 2:12 PM, Colton Baker <notifications@github.com>
wrote:

[2017-07-21 18:38] Southern commented on #49
@bertrandszoghy no problem. I would still file an issue with node-gyp. Seeing as how you were doing the install as root, there should be no reason for you to be denied removing a directory. Something is definitely off there.

[2017-07-28 19:48] deepakrkris opened #53 "warnings occurring during npm install in node version 8"
following warnings messages occur during `npm install x509` for node version 8.1.2

[code]

[2017-07-31 07:38] papakai opened #55 "Question/Request: Support of multiple blocks"
It is also possible that a cert file might include the CA bundle, which is not supported by this module.
Do you plan to also go that path? Would be a great thing :)

[2017-08-14 16:36] vognition commented on #49
Hi,

I'm getting a similar error on Debian.
I have been using this package on Centos with an early version of node.  It works great.
I'm trying to upgrade my system and your latest packages don't work to install.

I've followed instructions use this:
npm install -g node-gyp
npm install

With the latest version of node for the package I was using x509@0.2.4 and x509@0.3.2 it doesn't work to install

[2017-08-14 17:00] Botffy commented on #49
@vognition
"gyp ERR! stack Error: not found: make" Well, do you have `make`? It's in the build-essential package, iirc.

[2017-08-14 17:32] vognition commented on #49
@Botffy Thanks.  This is a new server installation.  A few hands are on it.  I thought the machine had that stuff installed already, but I guess not.

[2017-08-28 13:27] dpjanes opened #57 "Possible Issue with Modulus being reported?"
When I compare the Modulus being reported by openssl vs. the what's coming in x509 publicKey, I'm seeing two different values. I fully admit this may be due to a gap in my understanding, and if so apologies.

I've made a test case and attached here, consisting of a shell script (to call openssl), a node app (to use x509) and a cert.

[code.zip](https://github.com/Southern/node-x509/files/1256866/c

[2017-09-20 13:56] juan77 opened #58 "serial as integer instead of hex value"
Hi, some signatures need to pass the serialNumber as integer, and I can't convert hex to integer because of the limitation of javascript integer, that causes a value of like 45433534+34, would be great if we have a function like this:

[code]

is possible?

[2017-09-25 20:46] JessieAMorris opened #59 "Create a fork? Add an additional maintainer?"
Hey All,

There's currently 9 open issues, some dating back over a year. Many have PRs waiting to be merged.

I want to try to make an effort here to get the project rolling again, either by adding a new maintainer or by re-engaging the original author.

I'd really like to avoid creating a full on fork but there aren't many other libraries that do this through the openssl C bindings directly.

[2017-09-25 20:51] jasonblanchard commented on #49
I'm getting a similar error trying to deploy an application with Elastic Beanstalk using `x509` v0.3.2 with `node v8.1.4 (npm v5.0.3)`:

[code]

Works fine locally on OS X. I tried all the hack-arounds from [this thread](https://github.com/nodejs/node-gyp/issues/414#issuecomment-37620497), but no luck.

Seems like a node-gyp issue, but any insights? Admittedly, I do not really know how node-gyp wo

[2017-09-25 21:55] Southern commented on #59
I would definitely be open to someone else being added as a maintainer. I apologize to everyone for being so out of touch with this project recently. Just had a lot of things going on that have prevented me from giving this project the attention that it needs. If someone else would like to be added as a maintainer, including yourself, please send me an email to github@netrefuge.net so we can discu

[2017-09-26 00:07] Botffy commented on #49
@jasonblanchard The line `gyp ERR! stack Error: EACCES: permission denied, rmdir 'build'` is pretty clear: the npm stack does not have permission to delete the `build` directory. Probably a different user runs the npm install, not the one who owns your application directory. I don't know much about EB, but there's [this issue](https://github.com/lovell/sharp/issues/373) which sounds kinda similar.

[2017-09-26 19:30] JessieAMorris commented on #59
I sent an email yesterday, hopefully it didn't get caught in your spam box. If I don't hear from you in a day or two I'll try again from a different email.

[2017-09-26 20:06] Southern commented on #59
Just saw it. Will reply to you there. :)

[2017-10-23 13:24] jasonblanchard commented on #49
@Botffy Yup, agreed. After digging pretty deep into the EB deploy script, it appears to be running `npm install` as `root` and then switching to a different user context to run the package scripts, which I think is actually default npm behavior when running as root. We've submitted a ticket to AWS with steps to reproduce and they've acknowledged that they can reproduce it and forwarded the issue t

[2017-10-26 14:31] jasonblanchard commented on #49
Heard back from AWS support and it sounds like this is actually an NPM 5 regression. Here are some relevant issues:

- https://github.com/npm/npm/issues/17906
- https://github.com/npm/npm/issues/17346

For now, using the `unsafe-perm` option is the recommended work-around, but EB will release a new base AMI when there is a patch in for this NPM issue.

[2017-11-28 05:00] lolBig opened #61 "test certificate has expired"

[2017-11-29 06:47] yorkie commented on #61
This has been fixed at #62

[2017-11-29 06:47] #61 closed

[2017-12-19 18:13] uladkasach opened #64 "Error: version `GLIBCXX_3.4.21' not found"
Hello. I'm attempting to use this package on a Ubuntu 14.04 machine and receiving the following error:

[code]

Is there any way to eliminate this dependency or does anyone know a work around for this?

I understand if not. Thank you for your time.
- Vlad

[2018-01-03 13:51] deed02392 commented on #40
Go and install the full (not Lite) version of OpenSSL binary installer, version 1.0.2 (because 1.1.0 has too new a version, I believe).

Install to the default offered directory, and install the bin files under openssl instead of windows system.

https://slproweb.com/products/Win32OpenSSL.html

[2018-01-03 15:17] deed02392 opened #65 "Electron compatibility? Error: %1 is not a valid Win32 application."
I can't seem to get the module to run.

node.exe is 64 bit, OpenSSL win64 was installed (from slpro) and x509 builds against the lib there no problem. However when it come to running, I get this error:

[code]

[2018-03-01 13:59] lucasowens opened #66 "x509.obj : error LNK2001: unresolved external symbol BIO_s_file"
Getting the following error when installing on Windows 10.

x509.obj : error LNK2001: unresolved external symbol BIO_s_file

Any ideas?

[2018-03-14 15:52] DigitalLeaves commented on #42
Any update on this one? It's been 2 years.

[2018-03-14 16:09] DigitalLeaves opened #67 "Functions not working with strings."
If I try to use a pure string instead of a path, I get a "Error: File doesn't exist.".
According to documentation:

[code]

So, what am I doing wrong? It works with paths/filenames, but not PEM encoded strings.

[2018-03-14 16:32] DigitalLeaves commented on #67
Actually, it's working, but the error is misleading. I got a "File doesn't exist" when I was passing a PEM string wrongly codified (it needs to have the \n newline characters). Maybe the error message can be improved.

[2018-03-14 16:32] #67 closed

[2018-03-14 16:51] denis-fatkhudinov commented on #42
@DigitalLeaves Nothing from me, unfortunetaly

[2018-03-14 19:28] DigitalLeaves commented on #42
I have managed to do something with Strings at the parseCert certificate using Buffers, so maybe that's the way to go @denis-fatkhudinov  ?

[2018-03-14 19:41] denis-fatkhudinov commented on #42
@DigitalLeaves might be. 2 years passed and honestly speaking I am not interested in this anymore :)
Hope your comment will help someone like me one day

[2018-05-08 02:41] Ubunfu opened #68 "Issue building with node 10.0.0?"
After upgrading to node 10.0.0, I had some issues installing x509. node-gyp 'make' was failing with some errors that seemed indicative of some kind of breaking interface change.  However this is not the analysis of an expert in such things :)  Downgrading node to 9.5.0 (a slightly later version may work, I haven't tried any) fixed the issue without any further action needed.  If this is actually a

[2018-05-13 23:40] jthomerson commented on #37
@Southern what's the status of this issue? I see on the PR #39 that you said

Maybe it is from a malformed certificate, but still we need the x509 module to avoid a segfault when reading such a certificate. I'm trying to read through all certificate transparency logs and I'm getting a segfault when reading a different certificate. Ironically (or not), the cert is by the same issuer and for the sam

[2018-05-13 23:41] jthomerson commented on #37
It should be noted that every one of those certs parses fine with openssl on the CLI, so optimally x509 would parse them as well, returning the same info that openssl does.

[2018-05-14 06:43] mwpnl commented on #37
@jthomerson Looping through the CT log is exactly how I came about this issue. Great find that they're all certificates with the came CN!

After my initial PR #39 another user made a similar request in PR #56.

The - to me - cryptic review comments by @yorkie on my PR made me abandon the PR. With the best intentions of the word, I fail to see what's wrong. And, the solution works for me, travellin

[2018-05-16 10:39] neilstuartcraig commented on #68
I have the exact same issue (node 10 via nvm). From a cursory scan over the output, it looks like something in `x509` is using features which were deprecated in node 9 and removed in node 10:

[code]

Looks like it might be the version of `nan` perhaps? (i'm not very familiar with `nan` in any detail).

Downgrading to node 9 works but there are warnings WRT deprecations.

Happy to take a look it t

[2018-05-30 15:15] nthgol opened #69 "Node 8+ deprecation issues"
Hey there,
When deploying server code to google app engine running node LTS, I get the following few errors:

[code]

[2018-06-12 10:14] cse-tushar commented on #69
Unable to install with node 8 LTS

[code]

[2018-06-17 22:01] stormwin commented on #68
for Nodejs v10+ , you can use my fork: https://github.com/stormwin/node-x509
I am still investigating some segfaults for some certs, but generally, it's OK.

[2018-07-02 22:39] gboysko opened #70 "Support for files with multiple PEM CAs?"
I don't believe that there is any support for a PEM file that contains multiple CAs. Is that right? If so, there any plans to support this?

If the file contained multiple PEMs, the caller could parse the file, but even then, you can't call `parseCert()` with a string representation of the PEM CA, right? It has to be a file reference?

[2018-10-11 23:10] ziluvatar opened #72 "Built module is also released since version 0.3.1 (included)"
If you download the published package from npm/yarn you will find the `build` folder which contains the built module for MacOS. Affected packages:

https://registry.npmjs.org/x509/-/x509-0.3.3.tgz (which does not have tag in this repo by the way)
https://registry.npmjs.org/x509/-/x509-0.3.2.tgz
https://registry.npmjs.org/x509/-/x509-0.3.1.tgz

I guess this was a mistake at the moment of publishing

[2018-11-01 01:57] amejiarosario opened #73 "x509 fails to compile with Xcode 10.1"
[code]

[2018-11-16 15:52] mbwhite commented on #59
Can I ask if an additional maintainer was added please?

[2018-11-30 02:56] okonon commented on #73
you mean node? there is a PR for that https://github.com/Southern/node-x509/pull/71

[2018-12-11 14:01] spdaley commented on #73
No. He means xCode. The version of node that he's using there is Node 6.11.1
```gyp ERR! command "/Users/admejiar/.asdf/installs/nodejs/6.11.1/bin/node" "/Users/admejiar/.asdf/installs/nodejs/6.11.1/.npm/lib/node_modules/npm/node_modules/node-gyp/bin/node-gyp.js" "rebuild"```

[2019-02-05 11:18] NathanHazout opened #76 "verify result is undefined"
Hello,

Given this snippet of code:

[code]

My console log prints:
[code]

What does it mean? What could lead `result` to be `undefined`, without any errors?

[2019-02-05 11:29] kohend opened #77 "Subject key algorithm not available (regression)"
When using newer openssl with version 0.3.4, the subject key algorithm is not properly set when parsing a certificate, the signature key algorithm is set instead (in addition to the property it should be set in).
This is in https://github.com/Southern/node-x509/blob/master/src/x509.cc#L280

[2019-02-05 13:23] NathanHazout opened #78 "Validate private key"
Is there a way to check that a given private key matches a certificate?

[2019-02-05 14:31] NathanHazout opened #79 "Empty public key?"
[code]

My console only prints:
`{ algorithm: 'id-ecPublicKey' }`

Am I not supposed to see the actual public key or other unique information about it?

FYI, the test certificate is:

[code]

[2019-03-03 12:04] DigitalLeaves opened #80 "Error: Module version mismatch. Expected 48, got 67."
Getting lots of these lately, I'm unable to run code using the x509 module. Using node v11.10.0.
[code]

Any help greatly appreciated.
Already tried npm rebuild, removing node_modules and installing everything again, etc...
Npm version: 6.8.0
Server is Linux Debian 8.11.

[2019-03-04 00:37] #80 closed, assigned to nobody

[2019-03-04 00:37] DigitalLeaves commented on #80
This is due to a node mismatch. Can be solved removing node and npm and reinstalling them from scratch. I suspect is due to some libraries being stored somewhere in /usr/local/lib/node_modules that just won't update.

[2019-04-30 09:12] ziluvatar commented on #72
Version 0.3.4 was correctly published. I'll close this issue.

[2019-04-30 09:12] #72 closed

[2019-06-20 11:56] okonon commented on #59
any news regarding this?

[2019-07-23 15:38] nhalstead commented on #49
I have found a solution to @ashergarland's original issue as I too have had this issue.
For Windows installing OpenSSL Version 1.1.0k, the libs were renamed from the `libeay32.lib` to `libcrypto.dll`. So the simple solution to this is to make an symbolic link using `mklink` in Windows. Tested on Windows 10 with Node Version 10.13.0.

Start CMD as Administrator
[code]
Output should match `symbolic

[2019-09-19 20:50] risacher opened #83 "Does not compile with node 12.x"
does not compile against node 12.  Specifically tested on 12.10.0.  (On Ubuntu 18.04)

[2019-10-15 04:34] codebling commented on #83
That's an issue with `nan`, but to be fair, even if it's fixed upstream, this package will still be broken because of the version spec. Right now it's locked at `"nan": "2.12.0"`, I think it makes more sense for it to be `^2.12.0`.

[2019-10-20 22:38] matthew119427 commented on #83
Any way to fix this? Having the same issue.

[2019-10-21 09:33] tgabi333 commented on #83
See: https://github.com/Southern/node-x509/pull/82

[2019-10-21 19:05] risacher commented on #83
Dup #82

[2019-10-21 19:05] #83 closed, assigned to nobody

[2019-10-24 19:24] codebling commented on #83
#82 has been superseded by #84 .

[2019-10-24 19:28] codebling commented on #83
@ghaiklor published an NPM module with the fixes here -> https://www.npmjs.com/package/@ghaiklor/x509

[2019-11-11 20:07] codebling commented on #73
Have you updated your command-line tools? This is documented in the [`node-gyp` documentation](https://github.com/nodejs/node-gyp#user-content-on-macos) and [elsewhere](https://stackoverflow.com/questions/52509602/cant-compile-c-program-on-a-mac-after-upgrade-to-mojave).

[2019-11-23 00:50] shiup commented on #79
updated to node10, and I also run into the above issue.  Any chance of a fix?  Thanks.

[2019-12-12 20:15] ghost opened #85 "parseCert function returns different result for v0.3.3 and v0.3.4"
For some certs (in PEM), v0.3.4 version of this package adds extra characters `\u0004�\b+` to the result of **x509.parseCert** function. The same cert and same code works in v0.3.3.

This is an issue because this makes v0.3.4 version unusable for some PEMs.

[2019-12-16 19:33] DigitalLeaves opened #86 "Error installing x509: error x509@0.3.4 install: `node-gyp rebuild` on macOS"
x509 fails to compile / install with NPM.
NPM version: 6.13.1
Node version: v13.3.0
MacOS version: macOS Catalina 10.15.1 (19B88)

Error output:
[code]

Any info you might need, please don't hesitate to ask.

[2019-12-18 17:23] Barsovich commented on #86
Also fails with the same error with the following.
Node version v12.13.1
npm v6.13.4
MacOS version: macOS Mojave 10.14.6

[2019-12-19 11:39] DigitalLeaves commented on #86
For other people who might be in this situation and need a fix soon because this code may be in production, there is a library that offers the same functionality: https://github.com/fidm/x509.

We needed a fix ASAP, so we started using it, it is completely Javascript based, so that eliminates the node-gyp disgusting problem with Node 12-13, and not a lot of work is required to adapt your current c

[2020-09-07 20:36] gforge commented on #86
I don't think this bug is MacOS specific, similar issue appears in Ubuntu. When running NodeJS 12 and above the below Dockerfile will fail, here is the simplest possible container that I could think of that triggers the error:

[code]

The error does not occur at the `RUN npm install node-gyp` step but at the `RUN npm install x509` that rebuilds the `node-gyp` package.

For the purpose of this err

[2020-12-16 10:22] shabbir-dhangot opened #88 "Can I integrate on Angular Frontend?"
I want to read cert information which uploaded by user from input type file. Will I able to read at over there? If yes can you help me out how.

Currently while doing I am facing issue of module not found.

    Module not found: Error: Can't resolve 'x509'

[2021-03-17 19:42] surajdalvi1 commented on #86
What is a solution here?

[2021-08-11 20:30] CFarzaneh commented on #79
I'm noticing this same issue as well. It is also happening with elliptic curve certificates in node v8.

[2021-08-12 19:36] CFarzaneh commented on #79
So turns out this issue is happening due to the updated OpenSSL in node v10. I have a fix in hand and can make a PR.

[2021-11-03 00:40] neelam-007 opened #89 "is it possible to use/install this library without having to do the compile?"
Hi I just have a question, sorry if this is misplaced.  But is it possible to simply install the library and use it without forcing a compile?  the main pages seems to indicate this, but it's definitely trying to run a compile when i do `npm install x509`

I don't have any need to build/run this from source and i don't have the option to install all of these build tools on our CI servers.